@model Pulp.Models.Admin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="btn col-12 m-auto font-weight-bold" style="color: #7BB38E;font-size:xx-large; font-family:'Times New Roman', Times, serif">Details</h1>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 m-auto">
            <div>
                @*<h4>Admin</h4>*@
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Role)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Role)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PictureUri)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PictureUri)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.UserID" class="btn btn-primary">Edit</a> |
                <a asp-action="Index" style="color: #7BB38E;">Back to List</a>
            </div>
        </div>
        </div>
    </div>

