@model IEnumerable<Pulp.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="btn col-12 m-auto font-weight-bold" style="color: #7BB38E;font-size:xx-large; font-family:'Times New Roman', Times, serif">Admins List</h1>
    <div class="row">
        <div class="btn col-12 m-auto font-weight-bold">
            <a class="btn mb-3 font-weight-bold" style="width: auto; background-color: #7BB38E; color: white;"
              asp-action="Create"
               >Create New Admin</a>
        </div>
    </div>
    <table class="table col-10 m-auto">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureUri)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PictureUri)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserID" class="btn btn-outline-primary btn-sm">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UserID" class="btn btn-outline-success btn-sm">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserID" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

