@model Pulp.Models.OrderItem

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post">
        <h1 class="text-center" style="color: #7BB38E">Delete</h1>

        <h3 class="text-center" style="color: #7BB38E">Are you sure you want to delete this OrderItem?</h3>
        <div>
            <dl class="col-lg-6 col-md-8 col-sm-12 m-auto rounded-lg shadow p-5">
                <dt class="col-12 p-2 text-center text-secondary">
                    @Html.DisplayNameFor(model => model.ItemOrdered)
                </dt>
                <dd class="col-12 text-center text-secondary">
                    @Html.DisplayFor(model => model.ItemOrdered.Description)
                </dd>
                <dt class="col-12 p-2 text-center text-secondary">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-12 p-2 text-center text-secondary">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-12 p-2 text-center text-secondary">
                    @Html.DisplayNameFor(model => model.Units)
                </dt>
                <dd class="col-12 p-2 text-center text-secondary">
                    @Html.DisplayFor(model => model.Units)
                </dd>
                <dd>
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn col-12 m-auto text-light btn-danger" />
                    </div>
                    <div class="m-auto text-center">
                        <a asp-action="Index" class="text-center col-12" style="color:#7BB38E">Back to List</a>
                    </div>
                </dd>

            </dl>


        </div>
    </form>
</div>

