@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center mt-3" style=" color: #7BB38E
">@ViewData["Title"]</h1>
<div class="row m-5 shadow rounded-lg p-5 text-center">

    <div class="col-lg-6 col-m-12 ">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div>

                <h4 class="text-center pb-4" style="color: #7BB38E">Create a new account.</h4>


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control text-success" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Username" class="form-control text-success" placeholder="Username" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control text-success" placeholder="Confirm password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Input.BirthDate" class="form-control text-success" placeholder="BirthDate" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Address" style="color:#7BB38E" class="col-2"></label>

                    <select asp-for="Input.Address.City" class="col-12 form-select ">
                        <option value="Cairo">Cairo</option>
                        <option value="Cairo">Alex</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="number" asp-for="Input.Address.ApartmentNom" placeholder="Apartment Nom" class="form-control  mb-3 text-success" />
                    <input type="number" asp-for="Input.Address.BuildingNom" placeholder="Building Nom" class="form-control mt-3 mb-3 text-sm-rig" />
                    <input type="number" asp-for="Input.Address.ZipCode" placeholder="ZipCode" class="form-control mt-3 mb-3" />
                    <input asp-for="Input.Address.Street" placeholder="street" class="form-control mt-3 mb-3" />

                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary col-12 text-center" style="background: linear-gradient(90deg, rgba(123,179,142,1) 15%, rgba(123,179,142,1) 15%, rgba(123,179,142,1) 100%); ">Register</button>
                </div>
            </div>
        </form>
</div>
    <div class="col-lg-6  col-md-12 px-5">
        <section>
            <h4 class="text-center" style="color: #7BB38E
">Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <div class="col-12 m-auto text-center">
                                @foreach (var provider in Model.ExternalLogins)
                                {  
                                       <button type="submit" class="btn font-weight-bold  text-light" style="background: linear-gradient(90deg, rgba(120,120,120,1) 15%, rgba(120,120,120,1) 15%, rgba(123,179,142,1) 100%); " name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    
                                }
                            </div>
                        </div>
                    </form>
                }
            }
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
